@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* inheritance */
.country-container {
  text-align: center;
  color: blue;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
}
/* specificty */
h1{
font-size: 22px;
color: grey;
font-style: italic;
}
/* cascade  */
h1{
    color: black;
}
h1{
    color: red;
}
/* important exception */
.style-1 {
    color: green !important;
  }
  h1 {
    color: orange !important;
  }
  .style-2 {
    color: blue !important;
    /* output is in blue color last imp exception will be considered over writes above */
  }